.orders_list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;

  width: 800px;
  background-color: #535C91;
  height: fit-content;

  border-radius: 10px;

  padding: 20px 10px;

  button {
    padding: 10px 15px;
    background-color: #1B1A55;
    margin-right: 5px;
  }

  .buttons-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 0 5px;

    .filters-container {
      display: flex;
      align-items: center;

      .text-input {
        margin-right: 10px;
      }

      .input {
        border-radius: 5px;
        height: 20px;
        outline: none;
      }
    }
  }

  .list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    .list_item {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      flex: 0 1 250px;
      margin: 5px;

      padding: 5px 10px;
      border-radius: 10px;
      
      background-color: #9290C3;

      .section {
        margin-bottom: 10px;
      }

      &__name {
        font-weight: bold;
      }

      &__info {
        display: flex;
        width: 100%;
        justify-content: space-between;
      }
    }
  }

  .order-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: 100%;

    .cart-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10px 0;
      width: 100%;
      background-color: #9290C3;
      border-radius: 5px;
      margin-bottom: 10px;

      .section {
        margin-bottom: 10px;
      }
    }

    input {
      border-radius: 5px;
      background-color: 535C91;
      outline: none;
      width:50%;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    input[type=number] {
      -moz-appearance: textfield;
    }

    .text-input {
      border-radius: 4px;
      margin-bottom: 5px;
      width: 50%;
    }
  }
}